body {
  background-color: #f7f7f7;
  margin-top: 70px;
  margin-bottom: 70px;
  margin-left: 70px;
  margin-right: 70px;
}

.App {
  text-align: center;
}

.title {
  color:rgb(75, 75, 75);
  text-align: center;
  font-size: 55px;
  position: relative;
}

.message_style {
color: #52aab6;
font-size: 20px; 
/* font-weight: bolder; */
font-weight: bold;
}

.place {
height: 100%;
background-color: rgb(169, 169, 169);
font-size: 18px;
}

.cards{
height: 510px;
width: 350px;
background-color: rgb(57, 57, 57);
}